<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POLAR</title>

    <!-- font Awsome -->
    <script src="https://kit.fontawesome.com/1069728e6a.js" crossorigin="anonymous"></script>
    <!-- font Awsome -->
    <link rel="stylesheet" href="/stylesheet/whishList.css">
    </head>
<body>
    
    <section class="cart">
        <nav class="navbar">
          <a href="/getEnergy">
                    <i id="leftArrow"  class="fa-solid fa-arrow-left"></i>
          </a>
        <i id="cartIcon" class="fa-solid fa-cart-shopping"></i>
        <h3 class="headingCart">
            Wishlist
        </h3>
    </nav>


    <% if (wishList.length == 0) { %>
      <div class="EmptyMessege">
          <h1><i class="fa-solid fa-heart-crack"></i> Wishlist is empty</h1>
      </div>

      <div class="card22">
        <a href="/getEnergy">Shop Now!</a>
      </div>

  <% } %>

  

  
       <!-- Popup Messsege -->
<% if (typeof errorMessage !== 'undefined' && errorMessage.length > 0) { %>
  <div id="popupmessege" class="popup-containerForError">
      <h4><%= errorMessage %> <i class="fa-solid fa-circle-exclamation"></i></h4>
    </div>
<% } %>

<% if (typeof successMessage !== 'undefined' && successMessage.length > 0) { %>
  <div id="popupmessege" class="popup-containerForSuccess">
      <h4> <%= successMessage %>  <i class="fa-solid fa-circle-check"></i></h4>
    </div>
<% } %>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var popup = document.getElementById('popupmessege');
    setTimeout(function() {
      popup.style.animation = 'popOut 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards';
      setTimeout(function() {
        popup.remove();
      }, 300);
    }, 4000);
  });
</script>
<!-- Popup Messsege -->


    

       <% wishList.forEach((item)=>{%>
        <div class="card-content">
        <div class="card">
          
            </label>
            <h3 class="countItems"></h3>
            <form action="/deleteWishList/<%=item.productId%>" method="POST">
              <button type="submit" class="deleteButton"> <i id="closeButton" class="fa-solid fa-xmark"></i></button>
            </form> 
            <div class="nameAndPolar">
            <div class="ProductName"><%= item.productName %></div>
            <p class="productNameForPhone"><%= item.productName %></p>
            <div class="ProductSubTest">With Polar</div>
           </div>
            <div class="priceOftheProduct">₹<%= item.price%></div>
            <div class="imagesCard">
              <img class="PrImage" src="<%= item.productImage %>" alt="">
              <%if(item.productImage.length >1){%>
                <img class="PrImage" src="<%= item.productImage[0] %>" alt="">
              <%}%>
            </div>  
            <div class="text-center">
           <form action="/addToCartInWishList/<%= item.productId%>" method="POST">
            <button type="submit" class="btn cartBtn" name="addToCart">AddToCart</button>
           </form>
            </div>
          </div>
        </div>
        <%})%>


    <div class="card1">
        <div class="card-content">
            <div class="imagesCard">
                </div>
            </div>
        </div>

</section>

</body>
</html>